<%- include('header'); %>
<script src="/js/script.js"></script>

<h2>In de kijker</h2>

<img class="pic" src="<%=vier%>" alt="" class="blog-image"  width="80%" >
<p class="imgnaam"> <%-museum[3].naam%></p>
<p class="info"> <span>Uitvoerder: </span><%-museum[3].uitvoerder%> , <%-museum[0].datering%></p>
<p class="info"> <span>Beschrijving: </span><%-museum[3].beschrijving%></p>
<p class="info"> <span>Periode: </span><%-museum[3].periode%></p>

<%- include('footer'); %>
