<%- include('header'); %>
<script src="/js/script.js"></script>

<h2>In de kijker</h2>

<img class="pic" src="<%=zeven%>" alt="" class="blog-image"  width="80%" >
<p class="imgnaam"> <%-museum[6].naam%></p>
<p class="info"> <span>Uitvoerder: </span><%-museum[6].uitvoerder%> , <%-museum[0].datering%></p>
<p class="info"> <span>Beschrijving: </span><%-museum[6].beschrijving%></p>
<p class="info"> <span>Periode: </span><%-museum[6].periode%></p>

<%- include('footer'); %>
