<%- include('header'); %>

<h2>Uitgelichte kunstwerken</h2>

<img class="uit" src="<%=een%>" alt="" class="blog-image" width="60%">
<img class="uit" src="<%=twee%>" alt="" class="blog-image" width="60%">
<img class="uit" src="<%=tien%>" alt="" class="blog-image" width="60%">

<a class="see" href="portfolio">See all</a>


<%- include('footer'); %>