<%- include('header'); %>
<div class="button-group filters-button-group">
   <button class="button is-checked" data-filter="*">show all</button>
   <button class="button" data-filter="sculptuur">sculptuur</button>
   <button class="button" data-filter="tekening">tekening</button>

</div>
<div class="grid">
   <a href="/a">
      <img src="<%=een%>" alt="" class="blog-image element-item sculptuur" data-category="sculptuur" width="40%">
   </a>
   <a href="/b">
      <img src="<%=twee%>" alt="" class="blog-image element-item sculptuur" data-category="sculptuur" width="40%">
   </a>
   <a href="/c">
      <img src="<%=drie%>" alt="" class="blog-image element-item sculptuur" data-category="sculptuur" width="40%"></a>
   <a href="/d">
      <img src="<%=vier%>" alt="" class="blog-image element-item sculptuur" data-category="sculptuur" width="40%">
   </a>
   <a href="/e">
      <img src="<%=vijf%>" alt="" class="blog-image element-item sculptuur" data-category="sculptuur" width="40%">
   </a>
   <a href="/f">
      <img src="<%=zes%>" alt="" class="blog-image element-item sculptuur" data-category="sculptuur" width="40%">
   </a>
   <a href="/g">
      <img src="<%=zeven%>" alt="" class="blog-image element-item sculptuur" data-category="sculptuur" width="40%">
   </a>
   <a href="/h">
      <img src="<%=acht%>" alt="" class="blog-image element-item tekening" data-category="tekening" width="40%">
   </a>
   <a href="/i">
      <img src="<%=negen%>" alt="" class="blog-image element-item tekening" data-category="tekening" width="40%">
   </a>
   <a href="/j">
      <img src="<%=tien%>" alt="" class="blog-image element-item tekening" data-category="tekening" width="40%">
   </a>
</div>


<%- include('footer'); %>